# leading `/' means at top level only
/.venv
/build/
/dist
/PyCmd/
/PyCmd-*-w??.zip
/README-WHL.txt
/src/py_cmd.egg-info
/src/pycmd/buildinfo.py
/src/pycmd/PyCmd.egg-info
/src/pycmd/pycmd_public.html

# no leading `/' means anywhere
*.pyc
.ropeproject
.idea
semantic.cache
